<div class="layout">
    
<aside class="sidebar">
    <div class="logo">
        <h2>StockMate</h2>
        <p>Smart Supplier System</p>
    </div>

    <nav class="menu">
        <a href="/index.html">Dashboard</a>
        <a href="/pages/barang/index.html" class="active">Data Barang</a>
        <a href="/pages/supplier/index.html">Supplier</a>
        <a href="/pages/pemasokan/index.html">Pemasokan</a>
    </nav>

    <div class="user-box">
        <p>Logged in as</p>
        <h4>Petugas Gudang</h4>
        <span>Petugas</span>
    </div>

    <a href="login.html" class="logout">Logout</a>
</aside>
